<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to home page</h1>
    <td>
        <a href="./login.ejs" aria-placeholder="Login Page" >
            <button>Login</button>
        </a>
    </td>
    <td>
        <a href="./index.ejs" aria-placeholder="Login Page" >
            <button>Home</button>
        </a>
    </td>
</body>
</html>