<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <div>
        <%reslt.forEach(element => {%>
            <li><%=element.name%></li>
        <%});%>
    </div>
    <h1>oiuyt</h1>
</body>
</html>