<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome page</title>
</head>
<body >
    <h1 color="#7654">Praveen</h1>
    <div>
        <a href="/profile1">
            <button>Profile Page</button>
        </a>
    </div>
</body>
</html>